<% open_graph_tags(@quote) %>
<section class="hero is-fullheight is-gapless bg">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 id="<%= dom_id(@quote) %>" class="quote is-size-1 has-text-weight-bold">
        <q><%=@quote.text%></q>
      </h1>
      <h2 class="author is-size-3 is-italic">
       <%= @quote.author %>
      </h2>
      <div class="buttons is-centered button-container">
        <%= link_to "Random Quote", random_quote_path, class: "button" %>
        <%= link_to "Random #{@quote.author} Quote", random_character_quote_path(slug: @quote.author_slug), class: "button" %>
      </div>
    </div>
  </div>
</section>
