<!DOCTYPE html>
<html>
  <head>
    <title>LetterKenny Quotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/9a0e491565.js" crossorigin="anonymous"></script>
  </head>

  <body data-controller="main" class="bg">
    <%= render partial: "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
